@use "../base.scss";
@use "../variables.scss" as *;

body[data-is-canvas="true"],
body[data-layout="letter"],
body[data-layout="letter-poem"],
body[data-slug="index"],
body[data-slides="true"] {
  .darkmode,
  .search-button {
    visibility: hidden !important;
  }

  section[class~="header"] {
    position: static;
    border-bottom: 0;
  }
}

body[data-slides="true"],
body[data-layout="letter-poem"],
body[data-layout="letter"] {
  .darkmode,
  .stacked-buttons:not(.popover *),
  .breadcrumb-container:not(.popover *),
  .byline:not(.popover *),
  .page-footer:not(.popover *) {
    display: none;
  }

  .overlay {
    box-shadow: none !important;
  }

  section[class~="header"] {
    border-bottom-width: 0px;
  }
}

body[data-layout="letter-poem"] {
  background-color: white;

  hgroup {
    display: none;
  }
}

body[data-slides="true"] {
  .page-footer {
    display: grid !important;
  }

  section[class~="page-header"]:not(.popover *) {
    display: none !important;
  }
}
