@use "../base.scss";
@use "../variables.scss" as *;

body[data-layout="technical-tractatus"],
body[data-layout="technical"] {
  .page-footer {
    padding: 0;

    & > .recommendations,
    & > .backlinks {
      display: none;
    }
  }
}
