[submodule "content/thoughts/university/twenty-four-twenty-five/sfwr-4g06ab/source"]
	path = content/thoughts/university/twenty-four-twenty-five/sfwr-4g06ab/source
	url = git@gitlab.cas.mcmaster.ca:phama10/capstone.git
