.DS_Store
.gitignore
node_modules
dist
public
prof
tsconfig.tsbuildinfo
**/.obsidian/types.json
**/.obsidian/plugins
**/.obsidian/themes
.quartz-cache
.replit
replit.nix
quartz.git
*.autosave
.vercel
__pycache__
sites
