.DS_Store
.gitignore
node_modules
dist
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
.replit
replit.nix
quartz.git
*.autosave
.vercel
__pycache__
sites
.env
.ipynb_checkpoints
**/partial_movie_files/**
data/
model/
content/thoughts/university/**/*.csv
private
MWC25.pdf
