[submodule "content/thoughts/university/twenty-four-twenty-five/sfwr-3ra3/acme"]
	path = content/thoughts/university/twenty-four-twenty-five/sfwr-3ra3/acme
	url = git@github.com:3RA3-F24/acme-visit-acme-34.git
