@use "../../styles/variables.scss" as *;

@keyframes blinkTextCursor {
  from {
    border-right-color: transparent;
  }
  to {
    border-right-color: black;
  }
}

.typing::after {
  content: "|";
  animation: blinkTextCursor 1s steps(44) infinite;
}

#typewritter {
  font-size: 1.75rem;
  display: inline;
}

#not-found {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
