@use '../../styles/variables.scss' as *;

.backlinks {
  margin-bottom: 1.9rem;

  & > .overflow {
    height: auto;
    display: grid;
    gap: 0.5em;

    @media all and ($desktop) {
      grid-template-columns: repeat(2, 1fr);
    }

    a[data-backlink] {
      border: 1px solid var(--gray);
      padding: 0.75rem;
      border-radius: var(--radius-none);
      line-height: 1.3;
      text-decoration: none;

      &:hover {
        background: initial;
      }

      & > .description,
      & > .small {
        line-height: 1.3;
      }

      & > .description {
        font-weight: normal;

        overflow: hidden;
        text-overflow: ellipsis;

        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;

        text-align: left;
        word-spacing: -0.5px;
        letter-spacing: -0.2px;

        color: var(--gray);
        margin-top: 0.2rem;
      }
    }
  }
}
