.collapsible-header {
  position: relative;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;

  // Indentation based on header level
  &[data-level="2"] {
    margin-left: 1rem;
  }
  &[data-level="3"] {
    margin-left: 1.5rem;
  }
  &[data-level="4"] {
    margin-left: 1.9rem;
  }
  &[data-level="5"] {
    margin-left: 2.2rem;
  }
  &[data-level="6"] {
    margin-left: 2.4rem;
  }

  &.collapsed {
    margin-bottom: 1rem;
  }

  & .header-button {
    background-color: transparent;
    border: none;
    text-align: left;
    cursor: pointer;
    padding: 0;
    color: var(--dark);
    display: inline-flex;
    align-items: center;

    & .expand-icon,
    & .collapse-icon {
      opacity: 0.85;
      margin-right: 0.5rem;
    }

    &[aria-expanded="true"] {
      .expand-icon {
        display: none;
      }
      .collapse-icon {
        display: block;
      }
    }

    &[aria-expanded="false"] {
      .expand-icon {
        display: block;
      }
      .collapse-icon {
        display: none;
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0;
      flex: 1;
    }
  }

  // The SVG icon has width 18px, meaning the outer would take padding 9px
  // and content border-left can be centered
  & .collapsible-header-content-outer {
    padding-left: 9px;

    & > .collapsible-header-content {
      border-left: 1px dashed var(--gray);
      overflow: hidden;
      transition: max-height 0.2s ease-in-out;
      padding-left: 9px;
      max-height: none;

      &.collapsed {
        max-height: 0 !important;
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }
}
