@use "../../styles/variables.scss" as *;
@use "../../styles/mixin.scss" as *;

ul.content-meta {
  color: var(--gray);
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  cursor: pointer;
  margin: 0;
  grid-column: 6/7;

  padding-inline-start: 0;
  list-style: none;
  gap: 0.3rem;

  font-family: "ITCGaramondStdLtCond", var(--bodyFont);
  font-weight: $normalWeight;

  @media all and ($desktop) {
    font-size: 1.272em;
    line-height: 1.272em;
  }

  @media all and ($tablet) {
    grid-column: 6/-4;
  }

  @media all and ($mobile) {
    grid-column: 6/-4;
  }

  pre {
    color: var(--darkgray);
  }

  li > .container {
    display: flex;
    gap: 0.5em;
    align-items: baseline;
  }

  .clipboard-button {
    position: relative;

    .copy-icon {
      display: block;
    }
    .check-icon {
      display: none;
    }

    &.check {
      .check-icon {
        display: block;
      }
      .copy-icon {
        display: none;
      }
    }

    &:hover {
      opacity: 1;
      transition: 0.2s;
    }
  }
}

.llm-source {
  color: inherit;
  font-weight: inherit;
  text-decoration: underline;
}
