@use "../../styles/variables.scss" as *;
@use "../../styles/mixin.scss" as *;

.content-meta {
  color: var(--gray);
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  cursor: pointer;
  margin: 0;

  padding-inline-start: 0;
  list-style: none;
  gap: 0.3rem;

  font-family: "ITCGaramondStdLtCond", var(--bodyFont);
  font-weight: $normalWeight;

  @media all and ($desktop) {
    font-size: 1.272em;
    line-height: 1.272em;
  }

  pre {
    color: var(--darkgray);
  }

  .ref-source {
    font-style: inherit;
    font-weight: inherit;
    color: var(--gray);
    transition: none;

    position: relative;
    padding-left: 0.3em;

    @include links;
    @include indicatorHook;

    &::before {
      border-left-color: inherit;
    }
  }
}
