@use "../../styles/variables.scss" as *;

.curius-header {
  .curius-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--light);
    gap: 0.5rem;
    margin-top: 1rem;
    font-size: 11px;
  }

  #curius-icons {
    @include iconStyles;
    display: flex;
  }

  #curius-refetch {
    @include iconStyles;
    margin-left: unset;
    opacity: 1;
    padding: 0;
    outline: none;
  }

  .curius-search-snippet {
    color: rgb(170, 170, 170);
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-height: 1.4;
    margin: 0 auto 0;
  }

  .curius-search {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    & #curius-bar {
      flex: 1;
      outline: none;
      background-color: var(--lightgray);
      height: 2rem;
      display: flex;
      align-items: center;
      cursor: pointer;
      white-space: nowrap;
      font-family: var(--bodyFont);
      box-sizing: border-box;
      border-radius: 2px;
      color: var(--dark);
      padding: 0.4rem 0.5rem;
      border: 1px solid var(--lightgray);
      width: 100%;
    }

    & #curius-search-container {
      position: absolute;
      box-sizing: border-box;
      width: $pageWidth;
      z-index: unset;
      box-shadow: 6px 6px 36px 0 rgba(0, 0, 0, 0.25);
      display: none;
      box-sizing: border-box;
      background-color: var(--light);
      max-height: 50vh;
      // #curius-bar height + padding
      margin-top: 3rem;
      overflow: hidden auto;

      @media all and (max-width: $mobileBreakpoint) {
        width: initial;
        right: 1rem;
        left: 1rem;
      }

      &.active {
        z-index: 999;
        display: inline-block;
      }

      a.curius-search-link {
        padding: 10px;
        margin: auto;
        display: block;
        border-color: var(--lightgray);
        border-width: 0px 0px 1px;
        border-style: solid;
        text-decoration: inherit;
        color: inherit;
        outline: none;
        cursor: pointer;
        font-weight: inherit;
        transition: background 0.2s ease;
        &:hover,
        &:focus {
          background-color: var(--lightgray);
          border-radius: 5px;
          cursor: pointer;
        }
      }
    }
  }
}
