@use "../../styles/variables.scss" as *;
@use "../../styles/mixin.scss" as *;

.curius-friends {
  display: none !important;
  max-width: calc($sidePanelWidth - 1rem);
  cursor: pointer;

  @media all and ($desktop) {
    max-width: unset;
    width: 100%;
  }

  @media all and not ($desktop) {
    margin-top: $topSpacing;
  }

  a,
  span {
    color: inherit !important;
    font-weight: normal !important;
    text-decoration: none;

    &:hover:not([data-highlight]) {
      transition: none;
      text-decoration: underline;
    }
  }

  &.active {
    display: block !important;
  }

  #friends-list {
    max-height: 400px;
    overflow-y: auto;
  }

  .friend-li {
    display: none;

    &[class~="focus"] {
      background: var(--lightgray);
      border: 1px solid var(--dark);
    }

    &.active {
      display: block;
    }

    & > .friend-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .friend-shortcut {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 75%;
  }

  #see-more-friends {
    cursor: pointer;

    svg {
      transition: transform 0.3s ease;
    }

    .fold {
      transform: rotateZ(-180deg);
    }
  }
}
