@use "../../styles/variables.scss" as *;

.curius-trail {
  font-size: 11px;
  width: inherit;
  cursor: pointer;
  max-width: calc($sidePanelWidth - 1rem);

  .curius-trail-header {
    display: flex;
    gap: 0.5rem;
    font-size: initial;
  }

  .curius-item-address,
  .trail-description {
    font-size: 10px;
    color: var(--gray);
    font-style: italic;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

#trail-list {
  margin-top: 0;
}

.trails-li {
  margin-bottom: 1rem;
  border-bottom-style: none !important;
}

.trail-ul {
  padding-inline-start: 5px;
  list-style: none;
  border-left: 1px solid var(--lightgray);
  margin-left: 1rem;
  padding: 0 0 0 1.2rem;
  margin-top: 5px;

  & li {
    gap: 1rem;

    &[class~="focus"] {
      background: var(--lightgray);
      border: 1px solid var(--dark);
    }
  }

  li.curius-item-title {
    align-items: center;
    padding: 0 8px;

    & .curius-item-link {
      white-space: nowrap;
      width: 50%;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .curius-item-span {
      max-width: 100%;
    }
  }
}
