@use "../../styles/variables.scss" as *;

@keyframes dots {
  0%,
  20% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
  100% {
    content: "";
  }
}

body {
  &[data-slug="curius"] {
    .page {
      & > #quartz-body {
        .sidebar.left,
        .sidebar.right,
        .darkmode {
          display: none !important;
        }
      }
    }
  }
}

.curius-outer {
  display: grid;
  grid-template-columns: $pageWidth auto;
  gap: 20px;

  #curius-container {
    max-width: $pageWidth;
    margin-left: auto;
    grid-column: 1;
  }

  #curius-notes {
    grid-column: 2;
    visibility: hidden;
    overflow-y: auto;
    position: sticky;
    align-self: self-start;
    top: 6rem;
    min-width: $pageWidth;
    & > * {
      margin: 0 3% 0 2%;
    }

    &.active {
      box-shadow: rgba(0, 0, 0, 0.06) 0px 12px 12px;
      flex-wrap: wrap;
    }
  }
}

.navigation-container {
  visibility: hidden;
  opacity: 0;
  margin-top: 1em;
}

.highlight-modal {
  visibility: hidden;
}

#arrow {
  position: absolute;
  width: 10px;
  height: 10px;
  z-index: 101;
  background: var(--lightgray);
  transform: rotate(45deg);
}

.curius-search {
  width: $pageWidth;

  & #curius-bar {
    outline: none;
    background-color: var(--lightgray);
    height: 2rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 6px;
    width: $pageWidth;
    font-family: var(--bodyFont);
    box-sizing: border-box;
    color: var(--dark);
    padding: 0.2em 1em;
    border: 1px solid var(--lightgray);

    @media (max-width: $fullPageWidth) {
      max-width: calc(100% - 9vw);
    }
  }

  & #curius-search-container {
    position: absolute;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    width: $pageWidth;
    z-index: 999;
    border-radius: 6px;
    box-shadow: 6px 6px 36px 0 rgba(0, 0, 0, 0.25);
    background-color: var(--light);
    max-height: 50vh;
    margin-top: 1em;
    overflow: auto;

    &.active {
      display: inline-block;
    }

    @media (max-width: $fullPageWidth) {
      max-width: calc(100% - 9vw);
    }
  }
}

#curius {
  & > * {
    text-align: left;
    box-sizing: border-box;
  }

  #curius-fetching-text {
    visibility: hidden;
    opacity: 0;
    padding-top: 1rem;
  }

  #curius-fetching-text::after {
    content: "";
    animation: dots 1s infinite;
  }

  #curius-container {
    & li[id|="curius-item"] {
      background-color: inherit;
      &.focus {
        background: var(--lightgray);
      }

      &.active {
        border: 1px solid rgba(108, 133, 199, 0.33);
        background: var(--lightgray);
      }

      & > * {
        padding-left: 8px;
      }
    }
  }

  & ul,
  #curius-container {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-inline: 0;
  }

  & li {
    padding: 8px 0;
    border-width: 1px;
    border-style: solid;
    border-color: transparent transparent var(--lightgray);
    border-image: initial;

    :first-child {
      border-top: 1px solid transparent;
    }

    &::marker {
      content: "";
    }
  }

  & div[id*="curius-misc"] {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 0.5rem;
    font-size: 0.9rem;
    font-style: italic;
  }

  & div[id*="curius-highlight"] {
    cursor: pointer;
    color: #886c5a;
    background-color: #fdebd0;
    font-size: 1em;
    display: inline-block;
    font-style: normal;
  }

  & [saved-theme="dark"] div[id*="curius-highlight"] {
    color: #fdebd0;
    background-color: #795548;
  }

  @mixin iconStyles {
    margin-left: auto;
    white-space: nowrap;
    color: var(--lightgray);
    padding: 2px 0px;
    fill: lightgray;
    opacity: 0;
  }

  #curius-icons {
    @include iconStyles;
    display: flex;
  }

  #curius-refetch {
    @include iconStyles;
    padding: 0;
    padding-left: 4px;
    outline: none;
  }

  .curius-title {
    padding-bottom: 1rem;
  }

  & [class*="snippet"] {
    color: rgb(170, 170, 170);
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-height: 1.5;
    font-size: 0.9rem;
  }

  .curius-search-link {
    padding: 10px;
    margin: auto;
    display: block;
    width: 98%;
    border-color: var(--lightgray);
    border-width: 0px 0px 1px;
    border-style: solid;
    text-decoration: inherit;
    color: inherit;
    outline: none;
    cursor: pointer;
    font-weight: inherit;
    transition: background 0.2s ease;
    &:hover,
    &:focus {
      background-color: var(--lightgray);
      border-radius: 5px;
      cursor: pointer;
    }
  }
  .curius-search-title {
    display: flex;
  }

  .curius-note-highlights,
  .curius-note-title,
  .curius-item-title {
    a,
    span {
      color: inherit !important;
      font-weight: normal !important;
      text-decoration: none;

      &:hover {
        transition: none;
        text-decoration: underline;
      }
    }
  }

  .curius-note-title,
  .curius-item-title {
    font-size: 1.2rem;
    padding: 5px 0;
  }

  .curius-item-address {
    color: rgb(170, 170, 170);
    font-size: 0.9rem;
    white-space: no-wrap;
    padding: 5px;
  }

  .curius-item-link {
    white-space: nowrap;
    padding: 5px 0;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .curius-item-metadata {
    margin-bottom: 4px;
  }

  .curius-item-tags {
    display: flex;
    margin: 4px 0;

    & > ul {
      font-family: var(--codeFont);
      margin-top: 0;
      color: rgb(119, 119, 119);
      background-color: rgb(241, 241, 241);
      align-items: center;
      margin-right: 5px;
      text-transform: uppercase;
      font-size: 10px;
      border-radius: 6px;
      padding: 2px 4px;
      display: inline;
      cursor: pointer;

      [saved-theme="dark"] & {
        background-color: var(--highlight);
      }

      & > a {
        color: inherit;
        text-decoration: none;
        font-weight: inherit;
        transition: color 0.2s;

        :hover {
          color: var(--primaryColor);
        }
      }
    }
  }
}

.highlight-modal {
  @include modalStyles;
}

.highlight-modal ul {
  list-style-type: none;
  padding: 0;
}

.tooltip {
  visibility: hidden;
  max-width: 200px;
  padding: 0.3rem 0.3rem;
  position: absolute;
  pointer-events: none;
  border: 1px solid transparent;
  border-radius: 2px;
  background: var(--lightgray);
  color: rgb(170, 170, 170);
  font-size: 12px;
  transition: opacity 0.3s ease-out;
  z-index: 100;

  [saved-theme="light"] & {
    color: var(--dark);
  }
}
