@use "../../styles/variables.scss" as *;
.default-footer {
  text-align: left;
  margin-bottom: 4rem;

  & ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: -1rem;
  }
}

.page {
  & footer.minimal-footer {
    width: 100%;
  }
}

.minimal-footer {
  display: flex;
  margin-top: auto;
  flex-direction: row;
  justify-content: space-between;

  box-sizing: border-box;
  border: 0 solid var(--gray);
  border-top-width: 1px;

  font-size: 0.75rem;
  line-height: 0.8rem;
  padding: 1rem 2.5rem;

  @media (min-width: 1280px) {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  p {
    font-family: "EB Garamond", serif;
    font-size: 0.8rem;
    font-style: normal;
    margin: 0;
  }

  .footnotes {
    text-align: right;
  }

  a {
    text-decoration: underline;
    text-decoration-thickness: from-font;
  }
}
