section[data-footnotes] {
  border: 2px solid var(--tertiary);
  position: relative;
  background-color: var(--light);

  & > * {
    margin: 0 1.25rem;
  }

  // disable footnotes headers
  & > #footnote-label.sr-only {
    margin-top: 1rem;
  }

  & > ol {
    margin-bottom: 2rem;
  }

  &::after {
    content: "";
    background-image: url("/static/dotted.svg");
    background-repeat: repeat;
    z-index: -10;
    top: 0.5rem;
    left: 0.5rem;
    right: -0.5rem;
    bottom: -0.5rem;
    position: absolute;
  }
}
