@use "../../styles/base.scss";
@use "../../styles/variables.scss" as *;

@mixin bodyIndexStyles {
  cursor: crosshair;

  @include excludePopover("& > *, h1") {
    font-family: var(--bodyFont);
  }

  @include excludePopover("a") {
    color: inherit;
    text-decoration: inherit;
    font-weight: inherit;
    transition: none;
    border-bottom: 1px rgba(34, 34, 34, 0.29) dotted;
  }

  @include excludePopover(".darkmode") {
    display: block;
    margin: 0;
    width: inherit;
    height: inherit;
  }
}

body[data-slug="index"] {
  @include bodyIndexStyles;

  @include excludePopover('a.internal[class*="landing-links"]') {
    background-color: inherit;
  }

  @include excludePopover('a[class*="rose"]') {
    color: rgb(215, 130, 126);
    border-bottom: none;
  }

  @include excludePopover("p") {
    font-size: 1.1rem;
  }
}

[saved-theme="dark"] body[data-slug="index"] {
  @include excludePopover("a") {
    border-bottom: 1px rgba(255, 255, 255, 0.29) dotted;
  }

  @include excludePopover('a[class*="rose"]') {
    color: rgb(235, 188, 186);
  }
}

.content-container {
  padding-bottom: 128px;
  overflow: hidden;
  max-width: 42rem;
  margin: 2rem auto 0 auto;
  position: relative;

  @include excludePopover(".landing-logo") {
    text-align: center;
  }

  @include excludePopover(".landing-header") {
    font-size: 2rem;
    font-weight: normal;
    line-height: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  @include excludePopover(".landing-subhead") {
    padding-top: 1.5rem;
  }

  @include excludePopover(".landing-job") {
    padding-top: 0.5rem;
  }

  @include excludePopover("& > hr") {
    margin: 2rem;
    margin-left: auto;
    margin-right: auto;
  }

  @include excludePopover(".landing-usage") {
    font-size: 1rem;
  }
}

// Media query styles
@media (min-width: 768px) {
  @include excludePopover(".content-container") {
    margin-top: 6rem;
    margin-left: 6rem;
  }
}

@media (min-width: 375px) {
  @include excludePopover(".content-container") {
    width: 60%;
  }
}

@media (max-width: 320px) {
  @include excludePopover(".landing-logo") {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 60%;
  }
}
