body[data-slug="index"] {
  font-family: "EB Garamond", serif;
}

body[data-slug="index"] a {
  color: inherit;
  text-decoration: inherit;
  font-weight: inherit;
  transition: none;
  border-bottom: 1px rgba(34, 34, 34, 0.29) dotted;
}

body[data-slug="index"] a.internal[class*="landing-links"] {
  background-color: inherit;
}

[saved-theme="dark"] body[data-slug="index"] a {
  border-bottom: 1px rgba(255, 255, 255, 0.29) dotted;
}

[saved-theme="light"] body[data-slug="index"] a[class*="rose"] {
  color: rgb(215, 130, 126);
  border-bottom: none;
}

[saved-theme="dark"] body[data-slug="index"] a[class*="rose"] {
  color: rgb(235, 188, 186);
  border-bottom: none;
}

body[data-slug="index"] p {
  font-size: 1.1rem;
}

// .landing {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//
//   & > #content-container {
//     flex-grow: 1;
//   }
//
//   & > #curius-container {
//     flex-grow: 1;
//   }
// }

.content-container {
  padding-bottom: 128px;
  overflow: hidden;
  max-width: 42rem;
  margin: 2rem auto 0 auto;
  position: relative;

  .landing-header {
    font-size: 2rem;
    font-weight: normal;
    line-height: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .landing-subhead {
    padding-top: 1.5rem;
  }

  .landing-job {
    padding-top: 0.5rem;
  }

  .landing-logo {
    background-image: url("./static/avatar.png");
  }
}

@media (min-width: 768px) {
  .content-container {
    margin-top: 6rem;
    margin-left: 14rem;
  }
}
