@use "../../styles/base.scss";
@use "../../styles/variables.scss" as *;

@mixin bodyIndexStyles {
  cursor: crosshair;

  @include excludeId("& > *", "h1", "h2", "h3", "h4") {
    font-family: var(--bodyFont);
    font-weight: normal;
  }

  @include excludeId("a") {
    color: inherit;
    text-decoration: inherit;
    font-weight: inherit;
    transition: none;
    border-bottom: 1px rgba(34, 34, 34, 0.29) dotted;
    border-radius: 0;
  }
}

body[data-slug="index"] {
  @include bodyIndexStyles;

  @include excludeId('a.internal[class*="landing-links"]') {
    background-color: inherit;
  }

  @include excludeId('a[class*="rose"]') {
    color: rgb(215, 130, 126);
    border-bottom: none;
  }
}

[saved-theme="dark"] body[data-slug="index"] {
  @include excludeId("a") {
    border-bottom: 1px rgba(255, 255, 255, 0.29) dotted;
  }

  @include excludeId('a[class*="rose"]') {
    color: rgb(235, 188, 186);
  }
}

.email-modal {
  @include modalStyles;
  border: 1px solid var(--lightgray);
  background-color: var(--light);
  width: 250px;

  span {
    font-size: 0.7rem;
    color: var(--darkgray);
    font-family: var(--codeFont);
  }
}

.content-container {
  padding-bottom: 128px;
  overflow: hidden;
  max-width: 42rem;
  margin: 2rem auto 0 auto;
  position: relative;

  @include excludeId("hr") {
    width: 100%;
    &:after {
      content: none;
    }
  }

  @include excludeId("& ul", "& ul.keybinds") {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-direction: row;
    gap: 1rem;
    margin-top: 1rem;
  }

  @media all and (max-width: $pageWidth) {
    @include excludeId("& ul[id='garden']") {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1px;
      padding: 0;
      margin: 0;
      list-style-type: none;
    }

    @include excludeId("& ul.keybinds") {
      list-style: inherit;
      flex-direction: column;
      margin-top: 1rem;
      padding-inline-start: 10px;
      & li::marker {
        content: none;
      }
    }
  }

  @include excludeId("& > ul.keybinds") {
    margin-top: 2.5rem;
    font-family: var(--codeFont);
    color: rgb(119, 119, 119);
    font-size: 10px;
    cursor: pointer;

    & li::marker {
      content: " · ";
    }

    & > a {
      color: inherit;
      text-decoration: none;
      font-weight: inherit;
      transition: color 0.2s;

      :hover {
        color: var(--primaryColor);
      }
    }
  }

  @include excludeId(".landing-header") {
    font-size: 2rem;
    font-weight: normal;
    line-height: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  @include excludeId(".landing-subhead") {
    padding-top: -0.5rem;
  }

  @include excludeId(".landing-job") {
    padding-top: 0.5rem;
  }

  @include excludeId("& > hr") {
    margin: 2rem;
    margin-left: auto;
    margin-right: auto;
  }

  @include excludeId(".landing-usage") {
    font-size: 1rem;
  }
}

// Media query styles
@media all and (min-width: 320px) {
  @include excludeId(".content-container") {
    margin: 4rem auto 1.5rem;
    width: 70%;
  }
}
