@use "sass:map";
@use "../../styles/variables" as *;

#stacked-note-toggle {
  height: 20px;
  width: 36px;
  display: block;
  position: relative;
  border: none;
  cursor: pointer;
  float: right;
}

.view-toggle-slide {
  height: 20px;
  border: 1px solid var(--lightgray);
  border-radius: 24px;
  width: 100%;
  line-height: 1rem;
  position: absolute;
}

.view-toggle-switch {
  position: absolute;
  top: 1px;
  left: 1px;
  right: auto;
  width: 18px;
  height: 18px;
  position: relative;
  transition: left 0.1s linear;

  & svg {
    position: absolute;
    width: 20px;
    height: 20px;
    top: calc(50% - 10px);
    transition: opacity 0.1s ease;
  }

  .single-view-icon {
    display: inline-block;
  }
  .stacked-view-icon {
    display: none;
  }

  span[aria-checked="true"] & {
    .single-view-icon {
      display: none;
    }
    .stacked-view-icon {
      display: inline-block;
      left: 16px;
    }
  }
}

body.stack-mode {
  header {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    transition: margin 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1000;

    & > .header-content {
      margin: 0 auto;
    }

    &::after {
      transform: scaleX(1);
      opacity: 1;
    }
  }

  button.expand-button,
  #quartz-root,
  footer {
    display: none;
  }

  .keybind,
  .search,
  .breadcrumb-container {
    visibility: hidden;
  }

  .collapsible-header {
    & .toggle-button {
      display: none;
    }

    .collapsible-header-content-outer {
      padding-left: 0;

      .collapsible-header-content {
        padding-left: 0;
        border-left-width: 0px;
      }
    }
  }
}

a {
  &.dag {
    background-color: color-mix(in srgb, var(--gold) 34%, rgba(255, 255, 255, 0)) !important;
    border-radius: 5px;
  }
}

#stacked-notes-container {
  background: var(--light);
  z-index: 999;
  display: none;
  overflow-x: auto;
  overflow-y: hidden;
  height: calc(97vh - 0.3em);

  &.active {
    display: flex;
    flex-direction: row;
  }

  & > #stacked-notes-main {
    --note-content-width: 625px;
    --note-title-width: 40px;

    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    flex-grow: 1;

    & > .stacked-notes-column {
      display: flex;
      flex-grow: 1;
      -webkit-transition: width 100ms cubic-bezier(0.19, 1, 0.22, 1);
      transition: width 100ms cubic-bezier(0.19, 1, 0.22, 1);
      height: 100%;

      & .stacked-note {
        width: var(--note-content-width);
        max-width: var(--note-content-width);
        height: 100%;
        flex-shrink: 0;
        top: 0;
        position: sticky;
        flex-grow: 1;
        overflow-y: auto;
        background: var(--light);
        border-left: 1px solid var(--lightgray);
        transition:
          box-shadow 100ms linear,
          opacity 75ms linear,
          transform 200ms cubic-bezier(0.19, 1, 0.22, 1);

        &:first-of-type {
          border-left: none;
        }

        &.overlay {
          box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.1);
        }

        &:last-child {
          border-right: 1px solid var(--lightgray);
        }

        .stacked-content,
        .stacked-title {
          transition: opacity 150ms linear;
        }

        .stacked-content {
          padding: 0.5rem 2rem;
          max-width: 100%;
          margin: 0 auto;
          opacity: 1;
        }

        .stacked-title {
          writing-mode: vertical-rl;
          background: var(--light);
          margin: 36px 0 0 0;
          overflow: hidden;
          line-height: 40px;
          font-size: 17px;
          letter-spacing: 0.03em;
          font-weight: 500;
          color: initial;
          inset: 0;
          position: absolute;
          bottom: 0;
          width: var(--note-title-width);
          opacity: 0;
          cursor: pointer;
        }

        &.collapsed {
          .stacked-content {
            opacity: 0;
          }
          .stacked-title {
            opacity: 1;
          }
        }
      }
    }
  }
}
