@use "../../styles/variables.scss" as *;

.page {
  & footer.minimal-footer {
    margin-right: calc(calc(100vw - $pageWidth) / 2 - $sidePanelWidth);
    margin-left: auto;
    width: $pageWidth + $sidePanelWidth;
  }

  @media all and (max-width: $fullPageWidth) {
    & footer.minimal-footer {
      width: initial;
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.minimal-footer {
  display: flex;
  margin-top: auto;
  padding: 1rem 0;
  flex-direction: row;
  justify-content: space-between;

  box-sizing: border-box;
  border: 0 solid var(--gray);
  border-top-width: 1px;

  p {
    font-family: var(--bodyFont);
    font-size: 0.8rem;
    font-style: normal;
    margin: 0;
  }

  & > a {
    color: inherit;
    text-decoration: underline;
    text-decoration-thickness: from-font;
    transition: none;
    border-bottom: 1px rgba(34, 34, 34, 0.29) dotted;
    border-radius: 0;
    background-color: inherit;
  }
}
