@use "sass:map";
@use "../../styles/variables.scss" as *;
@use "../../styles/mixin.scss" as *;

.palette {
  min-width: fit-content;
  max-width: 14rem;

  & > #palette-container {
    @include containerPopover;

    & > #space {
      width: 30%;

      @include containerInner;
      @include inputContainer;

      & > output {
        padding: 12px;
        margin: 0;
        list-style: none;
        overflow-y: auto;

        .suggestion-item {
          align-items: baseline;
          display: flex;
          justify-content: space-between;

          border-radius: 4px;
          white-space: pre-wrap;
          padding-inline-start: 12px;
          padding: 6px 12px;
          cursor: default;

          &:hover,
          &:focus,
          &.focus {
            background: var(--lightgray);
          }

          & > .suggestion-content {
            display: flex;
            flex-direction: column;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-inline-end: auto;

            .suggestion-title {
              overflow-wrap: break-word;

              & .highlight {
                font-weight: bold;
              }
            }
          }

          & > .suggestion-aux {
            display: flex;
            align-items: center;
            align-self: center;
            flex-shrink: 0;

            & > .suggestion-action {
              font-size: 11px;
              color: var(--iris);
            }
          }
        }
      }

      ul#helper {
        list-style-type: none;
        margin-inline: 0;
        padding-inline: 0;

        border-top: 1px solid var(--lightgray);
        user-select: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 12px;
        font-size: 11px;
        padding: 8px;
        margin: 0;

        kbd {
          font-family: var(--bodyFont);
          font-weight: 600;
          margin-inline-end: 4px;
          border-width: 0px;
          line-height: inherit;
          padding: 0;
        }

        & > li {
          display: inline-block;
          line-height: initial;
        }
      }
    }
  }
}
