@use "sass:map";
@use "../../styles/variables.scss" as *;

:root[reader-mode="on"] {
  section[class~="byline"],
  section[class~="page-content"] > .left-col,
  #wc-modal,
  .headings-modal-container,
  .page-footer {
    opacity: 0;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 1;
    }
  }
}
