#reader-view-toggle {
  height: 20px;
  width: 36px;
  display: block;
  position: relative;
  border: none;
  cursor: pointer;
  float: right;

  &:hover {
    background-color: var(--iris);
  }
}

.view-toggle-slide {
  height: 20px;
  border: 1px solid var(--lightgray);
  border-radius: 24px;
  width: 100%;
  line-height: 1rem;
  position: absolute;
}

.view-toggle-switch {
  position: absolute;
  z-index: 9;
  top: 1px;
  left: 1px;
  right: auto;
  width: 18px;
  height: 18px;
  position: relative;
  transition: left 0.1s linear;

  & svg {
    position: absolute;
    width: 20px;
    height: 20px;
    top: calc(50% - 10px);
    transition: opacity 0.1s ease;
  }

  .single-view-icon {
    display: inline-block;
  }
  .stacked-view-icon {
    display: none;
  }

  span[aria-checked="true"] & {
    .single-view-icon {
      display: none;
    }
    .stacked-view-icon {
      display: inline-block;
      left: 16px;
    }
  }
}
