.sidenotes {
  counter-reset: sidenote-counter;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 1px;
    border-left: 1px dashed var(--gray);
    transform: translateX(-50%);
    opacity: 1;
    z-index: 0;
  }

  & > ol {
    padding-inline-start: 0;
    list-style: none;
    position: relative;
    margin: 0;
    z-index: 1;

    // Only show the dashed line when there are no items
    &:empty + .sidenotes::before {
      display: block;
    }

    &:not(:empty) + .sidenotes::before {
      display: none;
    }
  }

  & .sidenote-element {
    position: absolute;
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
    display: block;
    margin-bottom: 1rem;
    border: 1px solid var(--gray);
    counter-increment: sidenote-counter;
    background-color: var(--light);
    z-index: 2;

    &::before {
      content: counter(sidenote-counter);
      background-color: var(--light);
      font-size: 0.8em;
      font-weight: bold;
      margin-right: 0.5rem;
      position: absolute;
      top: -12px;
      left: 12px;
      padding: 1px 8px;
      border: 1px solid var(--tertiary);
    }

    &.in-view {
      opacity: 1;
    }

    &.collapsed {
      display: none;
    }

    & .sidenote-inner {
      max-height: 200px;
      overflow-y: auto;
      width: 100%;
      box-sizing: border-box;
      padding: 0.2rem 1rem;
    }
  }
}
