:root {
  --telescope-highlight: rgb(252, 193, 146);
  --telescope-highlight-hover: rgb(249, 174, 119);
  --telescope-text-color: var(--dark);
  --telescope-border: #888;
}

.telescopic-container {
  --refresh-width: 12px;
  --gap-width: 1.4px;

  display: flex;
  flex-direction: row;
  align-items: baseline;
  position: relative;
  margin: 1rem 0;
  left: calc(-2 * (var(--refresh-width) + var(--gap-width)));
  width: calc(100% + 2 * (var(--refresh-width) + var(--gap-width)));
  gap: var(--gap-width);

  .expand,
  .replay {
    visibility: hidden;
    transition: visibility 0.2s ease-in-out;
  }

  &:hover {
    .expand,
    .replay {
      visibility: visible;
    }
  }
}

[saved-theme="dark"] {
  #telescope {
    .details {
      color: var(--light);
    }
    .expanded {
      color: var(--dark);
    }
  }
}

#telescope {
  color: var(--telescope-text-color);

  div#fulltext {
    display: none;
  }

  &#telescope {
    blockquote {
      margin-left: 0;
      padding-left: 1rem;
      border-left: 3px solid var(--telescope-text-color);
      display: block;
    }

    hr {
      border: 0.5px solid var(--telescope-text-color);
      margin: 3px 0;
      display: block;
    }
  }

  .details {
    display: inline;
    border-radius: 3px;
    padding: 0 3px;
    margin: -1px;
    transition: background-color 0.2s ease;
    background-color: var(--telescope-highlight);
    cursor: pointer;

    &.open {
      background-color: transparent;
      box-shadow: none;
      padding: 0;
      margin: 0;
      cursor: initial;
    }

    &.close:hover {
      background-color: var(--telescope-highlight-hover);
    }

    &.open > .summary,
    &.close > .expanded {
      display: none;
    }
  }
}
