@use "../../styles/variables.scss" as *;

.toc {
  display: flex;
  flex-direction: column;
}

@media all and not ($mobile) {
  .toc {
    display: flex;
  }
}

button#toc {
  background-color: transparent;
  border: none;
  text-align: left;
  cursor: pointer;
  padding: 0;
  color: var(--dark);
  display: flex;
  align-items: center;

  & h3 {
    font-size: 1rem;
    display: inline-block;
    margin: 0;
  }
}

#toc-content {
  list-style: none;
  overflow: hidden;
  overflow-y: auto;
  max-height: 100%;
  transition:
    max-height 0.35s ease,
    visibility 0s linear 0s;
  position: relative;
  visibility: visible;

  & ul {
    list-style: none;
    margin: 0.5rem 0;
    padding: 0;
    & > li > a {
      color: var(--dark);
      opacity: 0.35;
      transition:
        0.5s ease opacity,
        0.3s ease color;
      &.in-view {
        opacity: 0.75;
      }
    }
  }
  > ul.overflow {
    max-height: none;
    width: 100%;
  }

  @for $i from 0 through 6 {
    & .depth-#{$i} {
      padding-left: calc(1rem * #{$i});

      @if $i > 0 {
        position: relative;
        &::before {
          content: "";
          position: absolute;
          left: calc(1rem * #{$i - 1} + 0.4rem);
          top: 50%;
          transform: translateY(-50%);
          width: 1px;
          height: 1rem;
          background-color: var(--dark);
          opacity: 0.35;
        }
      }
    }
  }
}
