<!DOCTYPE html>
<html lang="{{ .Lang }}">
  {{ partial "_meta.html" . }}

  <body>
    {{partial "search.html" .}}
    <div class="singlePage">
      <!-- Begin actual content -->
      {{partial "header.html" .}} {{if .Title}}
      <h1>{{ .Title }}</h1>
      {{end}}
      <p class="meta">
        Last updated {{ partial "date-fmt.html" .}}
        <a
          href="{{$.Site.Data.config.GitHubLink}}/{{.File.Path}}"
          rel="noopener"
          >Edit Source</a
        >
      </p>
      {{partial "tags.html" .}}
      <div class="content">
        <div class="sidebar">
          <div>{{partial "toc.html" .}}</div>
          <div class="backlinks-container">{{partial "backlinks.html" .}}</div>
        </div>
        <article>{{partial "content.html" . }}</article>
      </div>
      {{partial "footer.html" .}}
    </div>
  </body>
</html>
