span[class*="rose"] {
  color: rgb(215, 130, 126);
  border-bottom: none;
}

.markdown-preview-view {
  -webkit-font-variant-ligatures: common-ligatures;
  font-variant-ligatures: common-ligatures;
}

.grid-two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}

.grid-pos-1 { grid-area: 1 / 1 / 3 / 3; }
.grid-pos-2 { grid-area: 1 / 2 / 3 / 3; }
