span[class*="rose"] {
  color: rgb(215, 130, 126);
  border-bottom: none;
}

.markdown-preview-view {
  -webkit-font-variant-ligatures: common-ligatures;
  font-variant-ligatures: common-ligatures;
}
