.cm-s-obsidian span.cm-hmd-internal-link, a.internal-link {
  background-color: #8f9fa937;
  padding: 0 0.1em;
  margin: auto -0.1em;
  border-radius: 3px;
}

span[class*="rose"] {
  color: rgb(215, 130, 126);
  border-bottom: none;
}
