@use "./base.scss";
@use "./variables.scss" as *;

@font-face {
  font-family: "Berkeley Mono";
  font-style: monospace;
  font-weight: normal;
  font-display: swap;
  src:
    url("/static/BerkeleyMono-Regular.woff2") format("woff2"),
    url("/static/BerkeleyMono-Regular.woff") format("woff");
}

@font-face {
  font-family: "GT Sectra Display";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("/static/GT-Sectra-Display-Regular.woff") format("woff");
}

@font-face {
  font-family: "GT Sectra Book";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("/static/GT-Sectra-Book.woff") format("woff");
}

[role="article"]:hover {
  border: 1px solid var(--highlight);
  background: var(--highlight);
  border-radius: 5px;
}

#preview-container {
  flex-grow: 1;
}

.katex {
  font:
    normal 1em KaTeX_Main,
    var(--bodyFont),
    serif !important;
}

span[class^="katex"] > *,
figure[data-rehype-pretty-code-figure] {
  z-index: -1 !important;
}

.preview-inner span[class^="katex"] > *,
.popover-inner span[class^="katex"] > *,
.popover-inner figure[data-rehype-pretty-code-figure],
.preview-inner figure[data-rehype-pretty-code-figure] {
  z-index: 999 !important;
}

code {
  font-size: 0.8em;
}

body {
  @each $slug in [ "uses", "quotes", "influence", "books", "movies", "projects", "music"] {
    &[data-slug="#{$slug}"] {
      .page > #quartz-body > .center > .page-header > .popover-hint {
        display: flex;
        flex-direction: row;

        & > * {
          margin: 2rem 0 0;
          line-height: 1;
        }
      }

      .keybind {
        margin-left: auto !important;
      }
    }
  }

  &[data-slug="projects"] {
    footer {
      display: none;
    }
  }
}

@keyframes kbefore {
  0% {
    background: transparent;
  }
  50% {
    background: var(--highlight);
  }
  100% {
    width: 100%;
    background: transparent;
  }
}

@keyframes kafter {
  0% {
    background: transparent;
  }
  50% {
    background: var(--lightgray);
  }
  100% {
    width: 100%;
    background: var(--gray);
  }
}

.project-lists {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 28px;
  box-sizing: border-box;

  & a {
    display: flex;
    align-items: center;
    gap: 12px;
    color: inherit;
    font-weight: normal;
    position: relative;
    overflow: hidden;
    padding: 12px;
    margin: -12px;
    border-radius: 12px;
    outline: 0px;

    &:hover {
      background: hsl(0 0% 95.1%);
      color: inherit !important;
    }

    .external-icon {
      display: none;
    }

    span {
      display: inline-block;
    }

    & > * {
      line-height: 28px;
      font-size: 14px;
    }

    span[class="title"] {
      font-weight: 700;
      color: var(--dark);
    }

    span[class="description"] {
      font-size: 14px;
      color: var(--gray);
    }

    .divider {
      flex: 1 1 0%;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        bottom: -1px;
        height: 1px;
        width: 0px;
        z-index: 3;
        animation: 1s ease 0s 1 normal forwards running kbefore;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: -1px;
        height: 1px;
        width: 0px;
        animation: 1s ease 0s 1 normal forwards running kafter;
      }
    }
  }
}

// Quote display
body[data-slug="quotes"] {
  & blockquote {
    border-left: none;
    padding-left: 0;
    margin: 0;
  }

  & h1,
  & h2,
  & h3,
  & h4 {
    font-family: var(--bodyFont) !important;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
  }

  & h1 {
    font-weight: 500;
  }

  & article {
    & > hr::after {
      content: "";
    }

    & > p {
      padding-top: 1rem;
      padding-left: 3rem;
      margin: inherit;

      &:before,
      &:after {
        font-size: 2em;
        line-height: 0.1em;
        vertical-align: -0.4em;
      }

      &:before {
        content: "“";
        margin-right: 0.25em;
      }

      &:after {
        content: "”";
        margin-left: 0.25em;
      }
    }
  }
}

hr {
  overflow: visible;
  padding: 0;
  margin: 4em auto;
  border: none;
  color: var(--gray);
  text-align: center;
  width: 70%;
  border-color: var(--gray);
  &:after {
    content: "* * *";
    display: inline-block;
    margin: -1em 0 0.5em;
    font-size: 1.5em;
    padding: 0.5em 1em;
    background: var(--light);
  }
}

audio::-webkit-media-controls-panel {
  background-color: var(--lightgray);
}

.left,
.right {
  display: grid !important;
  gap: 1.1rem !important;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, min-content);
  align-items: center;

  @media all and (max-width: $fullPageWidth) {
    display: flex !important;
  }
}

.left {
  .search {
    grid-area: 1 / 1 / 2 / 2;
  }

  .darkmode {
    grid-area: 1 / 2 / 2 / 3;
    height: initial;
    align-items: last baseline;
  }

  .keybind {
    grid-area: 1 / 3 / 2 / 4;
  }

  .graph {
    grid-area: 2 / 1 / 2 / 4;
  }

  .toc {
    grid-area: 3 / 1 / 3 / 4;
  }

  .backlinks {
    grid-area: 4 / 1 / 4 / 4;
  }

  .recent-notes:nth-last-child(1) {
    grid-area: 2 / 1 / 2 / 4;
  }

  .recent-notes:nth-last-child(2) {
    grid-area: 3 / 1 / 3 / 4;
  }

  .explorer {
    grid-area: 2 / 1 / 2 / 4;
  }
}

.right {
  .graph {
    grid-area: 1 / 1 / 1 / 3;
  }

  .backlinks {
    grid-area: 2 / 1 / 2 / 3;
  }

  @media all and (max-width: $fullPageWidth) {
    align-items: unset;
  }
}
