@use "./base.scss";
@use "./variables.scss" as *;

@font-face {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: normal;
  src: url("/static/EBGaramond.ttf");
}

@font-face {
  font-family: "Berkeley Mono";
  font-style: monospace;
  font-weight: normal;
  src:
    url("/static/BerkeleyMono-Regular.woff2") format("woff2"),
    url("/static/BerkeleyMono-Regular.woff") format("woff");
}

@media all and (max-width: 412px) {
  body {
    font-size: 1rem;
    @include excludeId(".page") {
      @each $element in (".page-title", ".spacer") {
        @include excludeId($element) {
          display: none;
        }
      }
    }
  }
}

body {
  position: relative;
  font-size: 1.1rem;

  // Page specific display overrides
  @each $slug in ("uses", "dump/quotes", "curius", "influence") {
    &[data-slug="#{$slug}"] {
      @include excludeId(".page") {
        @include excludeId("& > #quartz-body") {
          @include excludeId("&") {
            @include excludeId('.center ul[class*="tags"]') {
              display: none;
            }
            @include excludeId(".sidebar .left") {
              display: none;
            }
            @include excludeId(".sidebar .right") {
              display: none;
            }
          }
        }
        @include excludeId('& footer[class$="footer"]') {
          display: none;
        }

        @include excludeId(".center") {
          .page-header {
            width: inherit;
            margin: 6rem 0 0;
          }
        }
      }

      @each $element
        in (".toc", ".page-title", ".search", ".darkmode", ".graph", ".backlinks", ".recent-notes")
      {
        @include excludeId($element) {
          display: none;
        }
      }
    }
  }

  // Quote display
  &[data-slug="dump/quotes"] {
    @include excludeId("& > *") {
      font-size: 1.2rem;
    }

    @include excludeId("& h1") {
      font-size: 2rem;
      font-family: var(--bodyFont) !important;
      font-weight: 500;
    }

    @include excludeId("& blockquote") {
      border-left: none;
      padding-left: 0;
      margin: 0;
    }

    @include excludeId("& h3, & h4") {
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    @include excludeId("& article") {
      & > hr::after {
        content: "";
      }

      & > p {
        padding-top: 1rem;
        padding-left: 3rem;
        margin: inherit;

        &:before,
        &:after {
          font-size: 2em;
          line-height: 0.1em;
          vertical-align: -0.4em;
        }

        &:before {
          content: "“";
          margin-right: 0.25em;
        }

        &:after {
          content: "”";
          margin-left: 0.25em;
        }
      }
    }
  }
}

hr {
  overflow: visible;
  padding: 0;
  margin: 4em auto;
  border: none;
  color: var(--gray);
  text-align: center;
  width: 70%;
  border-color: var(--gray);
  &:after {
    content: "* * *";
    display: inline-block;
    margin: -1em 0 0.5em;
    font-size: 1.5em;
    padding: 0.5em 1em;
    background: var(--light);
  }
}

audio::-webkit-media-controls-panel {
  background-color: var(--lightgray);
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.left,
.right {
  display: grid !important;
  gap: 1.5rem !important;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, min-content);
  align-items: center;

  .search {
    grid-area: 1 / 1 / 2 / 2;
  }

  .darkmode {
    grid-area: 1 / 2 / 2 / 3;
  }

  .graph {
    grid-area: 1 / 1 / 1 / 3;
  }

  .backlinks {
    grid-area: 3 / 1 / 3 / 3;
  }

  .toc {
    grid-area: 2 / 1 / 3 / 3;
  }

  .recent-notes:nth-last-child(1) {
    grid-area: 2 / 1 / 2 / 3;
  }

  .recent-notes:nth-last-child(2) {
    grid-area: 3 / 1 / 4 / 3;
  }

  @media all and (max-width: $fullPageWidth) {
    display: flex !important;
  }
}

.navigation-container {
  font-family: var(--bodyFont);
  font-style: italic;
  margin-top: 2rem;
  text-align: right;
  font-size: 0.9rem;

  a {
    background-color: transparent;
    text-decoration: inherit;
    font-weight: inherit;
    transition: none;
    border-bottom: 1px rgba(34, 34, 34, 0.29) dotted;
    border-radius: 0;

    &:hover > .popover {
      display: none;
    }
  }
}

#toc-content {
  position: inherit;
}

#texture {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("/static/texture.png");
  mix-blend-mode: hard-light;
  pointer-events: none;
  opacity: 0.15;
  z-index: 999;
  [saved-theme="dark"] & {
    mix-blend-mode: soft-light;
  }
}

#progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 4px;
  background-color: var(--secondary);
  z-index: 100;
  transition: background-color 0.3s ease;
}
