@use 'sass:map';
@forward './tokens';

$base-duration: 1;
$row-delay: 0.4;
$col-delay: 0.2;
$rows: 4;
$cols: 8;
$max-delay: ($col-delay * $cols + $row-delay * $rows);

$breakpoints: (
  mobile: 800px,
  desktop: 1400px,
);

$mobile: '(max-width: #{map.get($breakpoints, mobile)})';
$tablet: '(min-width: #{map.get($breakpoints, mobile)}) and (max-width: #{map.get($breakpoints, desktop)})';
$desktop: '(min-width: #{map.get($breakpoints, desktop)})';

$sidePanelWidth: 320px; // 320px - 380px;
$boldWeight: 700;
$semiBoldWeight: 600;
$normalWeight: 400;
$baseMargin: 0.5rem;
