@use "sass:map";

:root {
  --link-underline-gradient-line-color: currentColor;

  // rose-pine-dawn
  --base: #faf4ed;
  --surface: var(--light);
  --overlay: var(--lightgray);
  --muted: var(--gray);
  --subtle: var(--darkgray);
  --text: var(--dark);
  --rose: var(--secondary);
  --love: var(--tertiary);
  --lime: rgb(135, 154, 57);
  --gold: rgb(208, 162, 21);
  --pine: rgb(58, 169, 159);
  --foam: rgb(67, 133, 190);
  --iris: rgb(139, 126, 200);
  --dag-highlights: var(--foam);
  --gray-200: rgba(0, 0, 0, 0.2);

  // fonts
  --kern: 12px;
  --border-radius: var(--kern);
  --align-cap-height: -6px;
  --align-baseline: -6px;
  --font-size: 17px;
  --line-height: 1.4;
  --line-px: calc(var(--line-height) * var(--font-size));
  --sidepanel-padding: 14px;
}

/**
 * Animation-related
 */
$base-duration: 1;
$row-delay: 0.4;
$col-delay: 0.2;
$rows: 4;
$cols: 8;
$max-delay: ($col-delay * $cols + $row-delay * $rows);

/**
 * Layout breakpoints
 * $mobile: screen width below this value will use mobile styles
 * $desktop: screen width above this value will use desktop styles
 * Screen width between $mobile and $desktop width will use the tablet layout.
 * assuming mobile < desktop
 */
$breakpoints: (
  mobile: 800px,
  desktop: 1400px,
);

$mobile: "(max-width: #{map.get($breakpoints, mobile)})";
$tablet: "(min-width: #{map.get($breakpoints, mobile)}) and (max-width: #{map.get($breakpoints, desktop)})";
$desktop: "(min-width: #{map.get($breakpoints, desktop)})";

$sidePanelWidth: 320px; // 320px - 380px;
$boldWeight: 700;
$semiBoldWeight: 600;
$normalWeight: 400;
$baseMargin: 0.5rem;
